Repository KongSwap/kong, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-kongzilla-ks, @global-prim8bits, @code-kongzilla-ks, @code-prim8bits, @pgsergiu01, @usern3, @CanerKocak

identity kit refactor
  src/kong_frontend/src/Actors/identityKitActorInitiation.jsx
  src/kong_frontend/src/Actors/identityKitActorProvider.jsx
  src/kong_frontend/src/App.jsx
  src/kong_frontend/src/components/Navigation.jsx
  src/kong_frontend/src/components/PoolsComponent.jsx
  src/kong_frontend/src/components/RemoveLiquidityComponent.jsx
  src/kong_frontend/src/components/SendComponent.jsx
  src/kong_frontend/src/components/SwapComponent.jsx
  src/kong_frontend/src/main.jsx
Owners: @pgsergiu01

init wallet auth
  .cursorignore
  src/kong_svelte/package.json
  src/kong_svelte/src/lib/canisters.js
  src/kong_svelte/src/lib/components/LanguageSelector.svelte
  src/kong_svelte/src/lib/components/WalletConnection.svelte
  src/kong_svelte/src/lib/locales/en/common.json
  src/kong_svelte/src/lib/locales/en/en.json
  src/kong_svelte/src/lib/locales/es/common.json
  src/kong_svelte/src/lib/locales/es/es.json
  src/kong_svelte/src/lib/services/backendService.ts
  src/kong_svelte/src/lib/stores/walletStore.ts
  src/kong_svelte/src/lib/translations.js
  src/kong_svelte/src/lib/utils/envUtils.ts
  src/kong_svelte/src/routes/+layout.svelte
  src/kong_svelte/src/routes/+page.svelte
  src/kong_svelte/static/.ic-assets.json
  src/kong_svelte/static/.ic-assets.json5
  src/kong_svelte/svelte.config.js
  src/kong_svelte/tsconfig.json
  src/kong_svelte/vite.config.js
Owners: @global-kongzilla-ks, @global-prim8bits, @usern3, @CanerKocak

fetch user data from backend
  src/kong_svelte/src/lib/components/WalletConnection.svelte
  src/kong_svelte/src/lib/services/backendService.ts
  src/kong_svelte/src/lib/translations.ts
  src/kong_svelte/src/routes/+layout.svelte
  src/kong_svelte/src/routes/+page.svelte
Owners: @usern3, @CanerKocak

add local env
  .env_local
  scripts/local/switch_local.sh
Owners: @global-kongzilla-ks, @global-prim8bits

fix dfx
  dfx_staging.json
Owners: @global-kongzilla-ks, @global-prim8bits

update deps
  src/kong_svelte/package.json
Owners: @usern3, @CanerKocak

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more GitHub usernames or team names
* @global-kongzilla-ks @global-prim8bits
/src/kong_backend @code-kongzilla-ks @code-prim8bits
/src/kong_frontend @pgsergiu01
/src/kong_svelte @usern3 @CanerKocak
